@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-rgb: 237 245 255;
    --green-rgb: 125 161 35;
}

body {
    font-family: "Work Sans", sans-serif;
}

body:has(.card-swiper[data-color="blue"]:hover) {
    background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card-swiper[data-color="green"]:hover) {
    background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
    .max-container {
        @apply max-w-5xl mx-auto sm:p-16 !pb-0 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
    }

    .head-text {
        @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
    }

    .subhead-text {
        @apply font-semibold sm:text-3xl text-xl relative font-poppins;
    }

    .blue-gradient_text {
        @apply bg-gradient-to-r from-[#f33ff3] to-[#800080] bg-clip-text text-transparent;
    }

    .btn-navbar {
        @apply w-10 h-10 rounded-lg bg-white items-center justify-center flex font-bold;
    }

    .header {
        @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
    }

    .footer {
        @apply text-white max-w-5xl mx-auto sm:px-16 px-8 flex flex-col gap-7 pb-8;
    }

    .footer-container {
        @apply flex flex-col sm:flex-row text-center;
    }

    .info-box {
        @apply mx-5 relative flex text-black flex-col gap-3 max-w-3xl neo-brutalism-purple py-4 px-8;
    }

}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

.icon-item {
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
}

.icon-item:hover {
    transform: translateY(0.75rem);
    transition: all 0.4s ease;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: small;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.630);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -50px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.630) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .range {
    position: relative;
    background-color: #E5E7EB;
    width: 80%;
    margin: 0 auto;
    height: 0.3rem;
    border-radius: 0.25rem;
}

.tooltip .range .fill {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(128, 0, 128);
    height: 100%;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .range .fill .percentage-text {
    color: #fff;
    font-size: 0.6rem;
    position: absolute;
    right: 2px;
}

.neo-brutalism-purple {
    background: #ffffff;
    position: relative;
    border-radius: 10px;
    box-shadow:
        rgba(128, 0, 128, 0.4) 5px 5px,
        rgba(128, 0, 128, 0.3) 10px 10px,
        rgba(128, 0, 128, 0.2) 15px 15px,
        rgba(128, 0, 128, 0.1) 20px 20px,
        rgba(128, 0, 128, 0.05) 25px 25px;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-date {
        color: rgb(255, 255, 255) !important;
        font-size: 14px;
        font-weight: 400;
        font-family: "Work Sans", sans-serif !important;
        opacity: 1 !important;
    }
}

.vertical-line {
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #ffb4b8;
}

.vertical-timeline-element-subtitle {
    margin-left: 0.25rem !important;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

.vertical-timeline-element-subtitle-paragraph {
    margin-left: 0.25rem !important;
    padding-bottom: 0.5rem;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
}

/*swiper component*/

.swiper-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

/*swiper card's*/

.swiper-slide-active .card-swiper-container {
    cursor: pointer;
}

.swiper-slide-active .card-swiper-container:hover .card-swiper {
    transform: rotateX(180deg) rotateZ(-180deg);
}

.card-swiper {
    position: relative;
    width: 300px;
    height: 400px;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.card-swiper-front,
.card-swiper-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    color: white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: bold;
    padding: 1em 2em 1em 1em;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    row-gap: 1em;
    backface-visibility: hidden;
}

.card-swiper-front::before,
.card-swiper-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow:
        280px 300px #fff, 50px 300px #fff, 120px 350px #fff, 120px 80px #fff,
        250px 50px #fff, 30px 210px #fff;
    z-index: -1;
    transition: 1s ease;
    animation: 1.5s glowing-stars linear alternate infinite;
    animation-delay: 1.2s;
}

.card-swiper-front::after,
.card-swiper-back::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow:
        50px 370px #fff, 240px 250px #fff, 170px 270px #fff, 180px 30px #fff,
        250px 110px #fff, 165px 380px #fff, 220px 360px #fff;
    z-index: -1;
    transition: 1s ease;
    animation: 1.5s glowing-stars linear alternate infinite;
    animation-delay: 0.6s;
}

.card-swiper-back {
    transform: rotateX(180deg) rotateZ(-180deg);
}

.card-swiper-back .heading {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    font-size: small;
    z-index: 2;
    transition: 0.4s ease-in-out;
}

.card-swiper-back .heading::-webkit-scrollbar {
    width: 5px;
}

.card-swiper-back .heading::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.card-swiper-back .heading::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.heading {
    text-align: center;
    z-index: 2;
    transition: 0.4s ease-in-out;
}

.heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow:
        190px 80px #fff, 160px 130px #fff, 120px 300px #fff, 270px 170px #fff,
        200px 310px #fff, 120px 240px #fff;
    z-index: -1;
    transition: 1s ease;
    animation: 1.5s glowing-stars linear alternate infinite;
    animation-delay: 0.3s;
}

/* .card-swiper:hover .heading {
    letter-spacing: 0.025em;
} */

/* .card-swiper:hover::before,
.card-swiper:hover::after,
.card-swiper:hover .heading::before {
    filter: blur(3px);
}  */

.heading::after {
    content: "";
    top: -8.5%;
    left: -8.5%;
    position: absolute;
    width: 7.5em;
    height: 7.5em;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #2c2c2c;
    transition: 0.4s ease-in-out;
    z-index: -1;
}

.swiper-slide-active .heading::after {
    background: white;
    box-shadow:
        0px 0px 50px rgba(173, 216, 230, 0.6),
        0px 0px 100px rgba(255, 255, 255, 0.7),
        inset 0px 0px 40px -12px rgba(200, 200, 200, 0.5);
}

.swiper-slide-active .card-swiper-back .heading::after {
    box-shadow:
        0px 0px 200px rgba(173, 216, 230, 0.8),
        0px 0px 250px rgba(255, 255, 255, 1),
        inset 0px 0px 60px -12px rgba(200, 200, 200, 0.7);
}

.icons {
    position: absolute;
    bottom: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.icons svg {
    width: 20px;
    height: 20px;
    transition: 0.4s ease-in-out;
}

/*github icon*/

.github {
    position: relative;
}

.github::after {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    top: 0.2em;
    left: 0.4em;
    scale: 4;
    background-color: #2c2c2c;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.swiper-slide-active .github::after {
    background-color: white;
    box-shadow: 0px 0px 3px rgba(233, 233, 233, 0.5),
        0px 0px 3px rgba(192, 192, 192, 0.5);
}

.swiper-slide-active .github:hover::after {
    box-shadow: 0px 0px 10px rgba(233, 233, 233, 0.5),
        0px 0px 10px rgba(192, 192, 192, 0.5);
}

/* .github:hover svg {
    transform: scale(1.25);
} */

.github svg path {
    stroke: #4d4d4d;
    transition: stroke 0.4s ease-in-out;
}

.swiper-slide-active .github svg path {
    stroke: #000000;
}


/* .github:hover svg path {
    stroke: #ffffff;
} */

.swiper-slide-active .github::before {
    content: "";
    position: absolute;
    top: -2500%;
    left: 850%;
    rotate: -45deg;
    width: 5em;
    height: 1px;
    background: linear-gradient(90deg, #ffffff, transparent);
    animation: 3s shootingStar ease-in-out infinite;
    animation-delay: 5s;
}

/* .card-swiper:hover .github::before {
    filter: blur(3px);
}  */

@keyframes shootingStar {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-55em) translateY(0);
        opacity: 1;
    }

    70% {
        transform: translateX(-70em) translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
}

@keyframes glowing-stars {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*swiper card-swiper's*/