@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-rgb: 237 245 255;
    --green-rgb: 125 161 35;
}

body {
    font-family: "Work Sans", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
    background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
    background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
    .max-container {
        @apply max-w-5xl mx-auto sm:p-16 !pb-0 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
    }

    .head-text {
        @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
    }

    .subhead-text {
        @apply font-semibold sm:text-3xl text-xl relative font-poppins;
    }

    .blue-gradient_text {
        @apply bg-gradient-to-r from-[#f33ff3] to-[#800080] bg-clip-text text-transparent;
    }

    .btn-navbar {
        @apply w-10 h-10 rounded-lg bg-white items-center justify-center flex font-bold;
    }

    .header {
        @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
    }

    .info-box {
        @apply mx-5 relative flex text-black flex-col gap-3 max-w-3xl neo-brutalism-purple py-4 px-8;
    }

}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

.icon-item {
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
}

.icon-item:hover {
    transform: translateY(0.75rem);
    transition: all 0.3s ease;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: small;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.630);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -50px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.630) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .range {
    position: relative;
    background-color: #E5E7EB;
    width: 80%;
    margin: 0 auto;
    height: 0.3rem;
    border-radius: 0.25rem;
}

.tooltip .range .fill {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(128, 0, 128);
    height: 100%;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .range .fill .percentage-text {
    color: #fff;
    font-size: 0.6rem;
    position: absolute;
    right: 2px;
}

.neo-brutalism-purple {
    background: #ffffff;
    position: relative;
    border-radius: 10px;
    box-shadow:
        rgba(128, 0, 128, 0.4) 5px 5px,
        rgba(128, 0, 128, 0.3) 10px 10px,
        rgba(128, 0, 128, 0.2) 15px 15px,
        rgba(128, 0, 128, 0.1) 20px 20px,
        rgba(128, 0, 128, 0.05) 25px 25px;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-date {
        color: rgb(255, 255, 255) !important;
        font-size: 14px;
        font-weight: 400;
        font-family: "Work Sans", sans-serif !important;
        opacity: 1 !important;
    }
}

.vertical-line {
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #ffb4b8;
}

.vertical-timeline-element-subtitle {
    margin-left: 0.25rem !important;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

.vertical-timeline-element-subtitle-paragraph {
    margin-left: 0.25rem !important;
    padding-bottom: 0.5rem;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
}

/* .margin {
    border-left: 1px solid #d88;
    height: 100%;
    left: 3.3rem;
    top: 0;
} */

/* .container-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    bottom: -1rem;
} */

/*swiper card's*/
.card-swiper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1),
        0 2px 4px -2px rgba(0, 0, 0, .1);
}

.info-card {
    border: none;
    padding: 1.5rem;
    text-align: left;
    height: 100%;
    overflow-y: auto;
}

.title-card {
    color: rgb(38 50 56);
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.footer-card {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag-card {
    font-weight: 300;
    font-size: .75rem;
    display: block;
}

.action-card {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    pointer-events: none;
}

.swiper-slide-active .action-card {
    pointer-events: auto;
}

.swiper-slide-active .action-card:hover {
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.4),
        0 2px 4px -2px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

/*swiper card's*/

/*card sunset*/
.card__sunset {
    width: 250px;
    height: 320px;
    padding: 5px;
    background-image: linear-gradient(#ca1eb3, #FD2E24, #FFD701 70%);
}

.card__content {
    background-color: #212121cf;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    padding: 15px;
}

.card-details {
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.text-body {
    margin-top: -35px;
    color: #ff8d79;
    text-align: center;
}

.text-title {
    margin-top: -125px;
    color: #ff4d7d;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.sunsetsvg {
    width: 313px;
    margin-left: -51.9px;
    margin-top: -165px;
    fill: black;
}

#sun {
    fill: url(#MyGradient);
}

/*card sunset*/