@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-rgb: 237 245 255;
    --green-rgb: 125 161 35;
}

body {
    font-family: "Work Sans", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
    background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
    background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
    .max-container {
        @apply max-w-5xl mx-auto sm:p-16 !pb-0 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
    }

    .head-text {
        @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
    }

    .subhead-text {
        @apply font-semibold sm:text-3xl text-xl relative font-poppins;
    }

    .blue-gradient_text {
        @apply bg-gradient-to-r from-[#f33ff3] to-[#800080] bg-clip-text text-transparent;
    }

    .btn-navbar {
        @apply w-10 h-10 rounded-lg bg-white items-center justify-center flex font-bold;
    }

    .header {
        @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
    }

    .info-box {
        @apply mx-5 relative flex text-black flex-col gap-3 max-w-3xl neo-brutalism-purple py-4 px-8;
    }

    .neo-btn {
        @apply overflow-hidden py-3 px-6 rounded-lg text-white text-center font-semibold sm:w-1/4 w-[60%] -bottom-7 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3 transition-all duration-300 ease-in-out;
    }
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

.icon-item {
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.630);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.630) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.neo-brutalism-purple {
    background: #ffffff;
    position: relative;
    border-radius: 10px;
    box-shadow:
        rgba(128, 0, 128, 0.4) 5px 5px,
        rgba(128, 0, 128, 0.3) 10px 10px,
        rgba(128, 0, 128, 0.2) 15px 15px,
        rgba(128, 0, 128, 0.1) 20px 20px,
        rgba(128, 0, 128, 0.05) 25px 25px;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element .vertical-timeline-element-content .vertical-timeline-element-date {
        color: rgb(255, 255, 255) !important;
        font-size: 14px;
        font-weight: 400;
        font-family: "Work Sans", sans-serif !important;
        opacity: 1 !important;
    }
}

.btn-hover:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.btn-hover:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.btn-hover::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}